html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;

    background-color: white;
}

/***********************/
/* CONTAINER           */
/***********************/

#container {
    width: 800px;
    margin: auto;
    margin-top: 30px;

    font-family: didot;
}

/***********************/
/* HEADER              */
/***********************/

#header {
    padding-top: 20px;
}

#header .logo-container {
    width: 100%;
    margin-top: -200px;
}

#header .logo {
    margin: auto;
    width: 80%;
}

#header .title-container {
    width: 90%;
    margin: auto;

    /*border-radius: 100px;*/
    /*border-bottom-left-radius: 100px;*/
    /*border-bottom-right-radius: 100px;*/

    /*box-shadow: 0px 0px 10px 10px black;*/
}

#header .title {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    color: black;
}

#header .subtitle {
    padding-top: 20px;
    font-size: 20px;
    text-align: justify;
    margin: auto;
    width: 500px;
}

/***********************/
/* CONTENT              */
/***********************/

#content {
    /*height: 800px;*/
}

#episodes-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#episodes-container .episode {
    /*background-color: w;*/
    /*color: white;*/

    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;

    box-shadow:
        0px 0px 0px 4px black,
        0px 0px 0px 4px black;

    transition: 0.2s;
    /*cursor: pointer;*/
}

:root {
    --sepwidth: 5px;
}

#episodes-container .episode:hover {
    /*border-left: var(--sepwidth) solid black;*/
    box-shadow:
        5px 0px 0px 4px,
        -5px 0px 0px 4px;

    /*border-bottom-left-radius: 70px;*/
    /*border-top-right-radius: 70px;*/
}

#episodes-container .episode .name {
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 80%;
    font-size: 28px;
    font-style: italic;
}

#episodes-container .episode .index {
    float: right;
    display: inline-block;
    margin-right: 20px;
    padding-top: 10px;

    font-size: 28px;
    text-align: right;
}


#episodes-container .episode .desc {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: justify;
}

#episodes-container .episode .link {
    display: block;
    margin-right: 60px;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    font-style: italic;
    color: black;
}
#episodes-container .episode .link:hover {
    font-style: normal;
}

#episodes-container .player {
    width: 100%;
    margin-top: 20px;
}

#episodes-container .player .btn {
    position: relative;
    display: inline-block;
    /*top: -15px;*/
    width: 50px;
    margin: 0px;
    z-index: 1;
}

#episodes-container .player .bar {
    position: relative;
    display: inline-block;
    left: 10px;
    top: -13px;
    height: 20px;
    width: 600px;
    background-color: black;
}

/***********************/
/* FOOTER              */
/***********************/

#footer {

}